USE [master]
GO
/****** Object:  Database [AngularShopping_DB]    Script Date: 9/11/2022 5:42:11 PM ******/
CREATE DATABASE [AngularShopping_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AngularShopping_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AngularShopping_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AngularShopping_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AngularShopping_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AngularShopping_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AngularShopping_DB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 9/11/2022 5:42:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 9/11/2022 5:42:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 9/11/2022 5:42:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[price] [int] NOT NULL,
	[categoryid] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[img] [nvarchar](max) NULL,
	[IsAvailble] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [name]) VALUES (1, N'Kids')
INSERT [dbo].[category] ([id], [name]) VALUES (2, N'Woman')
INSERT [dbo].[category] ([id], [name]) VALUES (3, N'Man')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [name], [price], [categoryid], [description], [img], [IsAvailble]) VALUES (1, N'Watch', 100000, 1, N'hi, Watch description, It''s The best Watch in the world.', N'https://img.fruugo.com/product/5/48/196059485_max.jpg', N'true')
INSERT [dbo].[products] ([id], [name], [price], [categoryid], [description], [img], [IsAvailble]) VALUES (2, N'Slash Tshirt', 200000, 2, N'hi, Watch description, It''s The best Watch in the world. ', N'https://img.fruugo.com/product/0/40/170439400_0340_0340.jpg', N'true')
INSERT [dbo].[products] ([id], [name], [price], [categoryid], [description], [img], [IsAvailble]) VALUES (3, N'Watch pro', 590000, 6, N'hi, Watch description, It''s The best Watch in the world. f', N'https://img.fruugo.com/product/1/62/185718621_0340_0340.jpg', N'true')
SET IDENTITY_INSERT [dbo].[products] OFF
GO
USE [master]
GO
